node_modules/
include/settings/connection.json

# jest coverage report
coverage/

# composer libraries
include/vendor/

# OSX nonsense
.DS_Store

# generated stuff
public/js/Jetpack.js
public/js/Jetpack.js.map
